.aside_phone_left{
    float: left;
    width: 30%;
    height: 50%;
    margin-left: 5%;
    margin-top: 2%;

}
.aside_menu{
    font-weight: 600;
    font-size: 0.875em;
    color: #000000;
    display: table;
    border-collapse: separate;
    border-spacing: 0;
    margin-top: -1%;
}
.aside_phone_right{
    float: right;
    width: 40%;
    height: 30%;
    margin-top: 2%;
}
.aside_left{
    float: left;
    margin-top: 2%;

}
.aside_2{
    display: flex;
    margin-left: 7%;
    background-color: #fff9;
}
.aside_1{
    display: flex;
    margin-top: 5%;
    background-color: #ffffff;
}
.aside_caption{
    font-weight: 600;
    font-size: 0.875em;
    color: rgba(0,142,214,255);
    margin-top: -1%;
}
p.aside_text_left{
    font-weight: 600;
    font-size: 1.2em;
    color: rgba(153,153,153,255);
    margin-top: -1%;
}
p.aside_text_right{
    font-weight: 600;
    font-size: 1.25em;
    color: rgba(153,153,153,255);
    margin-top: -1%;
}
h3 {
    font-weight: 600;
    font-size: 3em;
    margin-top: -1%;
}
h4{
    font-weight: 600;
    font-size: 3em;
    margin-top: -1%;
}
.aside_line_right{
    margin-top: -10%;
}
.aside_line_left{
    margin-top: -5%;
}