form{
    background: #000000 !important;
    outline: none;
    font-size: 1.25em;
    display: flex;
    margin-left: 25%;
    margin-right: 25%;
    text-align: justify;
    text-align-last: left;
    position: absolute;
    margin: 0;
}
.form_right{


}
.form_left{

}
.color_form{
    background-color: rgba(0,142,214,255);
    border: none;
    color: rgba(153,153,153,255);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
}
.footer_caption{
    font-weight: 600;
    font-size: 1.5em;
    color: rgba(0,142,214,255);
    text-align: center;
    margin: 0;
}
h6{
    font-size: 2em;
    color: #000000;
    text-align: center;
    margin: 0;
}
.footer_line{
    margin-left: 47.5%;
    margin-right: 52.5%;
}
table.footer_table{
    border-collapse: collapse;
    border: none;
    margin-top: -3.5%;

}
td.footer_table{

}
.footer_copyright{
    background-image: url("../images/footer_bg.png");
    display: list-item;
    min-height: 162px;
    box-sizing: border-box;
    padding: 4%;
    text-align: center;
}
li.footer_copyright{
    margin: 20%;
}
iframe{
    z-index: 500;
    margin-top: 16%;
}