.footer_copyright{
    background-image: url("../images/footer_bg.png");
    display: list-item;
}
form{
    background: #000000 !important;
    outline: none;
    font-size: 1.25em;
    display: flex;
    height: 40%;
    width: 60%;
    margin-left: 25%;
    margin-right: 25%;
}
.form_right{
    float: right;

}
.form_left{
    float: left;
}
.color_form{
    background-color: rgba(0,142,214,255);
    border: none;
    color: rgba(153,153,153,255);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
}
.information{
    display: flex;
    min-width: 100%;
    min-height: 20%;
}
.footer_caption{
    font-weight: 600;
    font-size: 1.5em;
    color: rgba(0,142,214,255);
    text-align: center;
}
h6{
    font-size: 2em;
    text-align: center;
}
.footer_line{
    margin-left: 47.5%;
    margin-right: 52.5%;
}